logging:
  level:
    root: INFO
    com.opencode.organiclever: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoint:
    health:
      show-details: never
